### **Introduction To Dataset** The dataset The goal is to predict price of given diamond (Regression Analysis).
There are 10 independent variables (including id):

`id :` unique identifier of each diamond

`carat :` Carat (ct.) refers to the unique unit of weight measurement used exclusively to weigh gemstones and diamonds.

`cut :` Quality of Diamond Cut

`color :` Color of Diamond

`clarity :` Diamond clarity is a measure of the purity and rarity of the stone, graded by the visibility of these characteristics under 10-power magnification.

`depth :` The depth of diamond is its height (in millimeters) measured from the culet (bottom tip) to the table (flat, top surface)

`table :` A diamond's table is the facet which can be seen when the stone is viewed face up.

`x :` Diamond X dimension

`y :` Diamond Y dimension

`x :` Diamond Z dimension

`Target variable:`

price: Price of the given Diamond.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression, LogisticRegression
import warnings

# Ignore all warnings
warnings.filterwarnings("ignore")

/tmp/ipykernel_35463/468485980.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [7]:
data=pd.read_csv("https://raw.githubusercontent.com/BhorSant/Mlops-projects/main/train.csv")

In [8]:
data.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [9]:
data.head(2)

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387

In [13]:
data["cut"].value_counts()

cut
Ideal        92454
Premium      49910
Very Good    37566
Good         11622
Fair          2021
Name: count, dtype: int64

In [14]:
data["carat"].value_counts()

carat
0.30    10758
1.01    10103
0.31     9538
0.70     7958
0.32     7548
        ...
2.72        1
3.40        1
3.50        1
2.71        1
1.96        1
Name: count, Length: 248, dtype: int64

In [16]:
data["color"].value_counts()

color
G    44391
E    35869
F    34258
H    30799
D    24286
I    17514
J     6456
Name: count, dtype: int64

In [18]:
data.describe()

,id,carat,depth,table,x,y,z,price
count,193573.000000,193573.000000,193573.000000,193573.000000,193573.000000,193573.000000,193573.000000,193573.000000
mean,96786.000000,0.790688,61.820574,57.227675,5.715312,5.720094,3.534246,3969.155414
std,55879.856166,0.462688,1.081704,1.918844,1.109422,1.102333,0.688922,4034.374138
min,0.000000,0.200000,52.100000,49.000000,0.000000,0.000000,0.000000,326.000000
25%,48393.000000,0.400000,61.300000,56.000000,4.700000,4.710000,2.900000,951.000000
50%,96786.000000,0.700000,61.900000,57.000000,5.700000,5.720000,3.530000,2401.000000
75%,145179.000000,1.030000,62.400000,58.000000,6.510000,6.510000,4.030000,5408.000000
max,193572.000000,3.500000,71.600000,79.000000,9.650000,10.010000,31.300000,18818.000000

In [19]:
data.isnull().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [21]:
data.size

2129303

In [23]:
data.shape

(193573, 11)

In [26]:
data["carat"].unique()

array([1.52, 2.03, 0.7 , 0.32, 1.7 , 1.51, 0.74, 1.34, 0.3 , 1.01, 0.23,
       0.31, 0.33, 1.06, 0.26, 0.73, 0.39, 0.25, 0.4 , 0.71, 0.5 , 1.11,
       0.37, 0.38, 0.9 , 0.35, 0.41, 0.57, 1.5 , 1.  , 0.42, 1.04, 0.43,
       1.2 , 0.77, 0.52, 0.85, 1.44, 1.22, 0.75, 1.29, 1.02, 2.02, 1.54,
       2.01, 1.48, 0.59, 0.27, 1.61, 1.53, 1.25, 1.07, 2.  , 0.86, 0.55,
       0.97, 0.72, 1.21, 1.05, 0.91, 2.22, 1.27, 1.33, 1.08, 0.28, 0.56,
       0.58, 1.28, 1.36, 1.13, 2.1 , 0.34, 0.82, 2.32, 2.24, 1.67, 1.16,
       1.31, 2.18, 0.76, 1.19, 1.56, 1.74, 2.43, 1.09, 0.51, 0.95, 2.2 ,
       0.36, 0.68, 1.1 , 1.3 , 2.25, 2.04, 0.29, 0.94, 1.4 , 1.03, 1.26,
       1.65, 0.54, 1.12, 0.24, 1.17, 1.14, 0.61, 1.32, 1.82, 1.55, 1.24,
       0.96, 0.8 , 0.65, 2.14, 0.6 , 1.59, 1.18, 0.84, 0.79, 0.92, 0.53,
       2.05, 1.23, 1.6 , 0.46, 2.06, 0.62, 0.78, 0.83, 0.44, 2.08, 1.71,
       0.81, 2.09, 1.35, 1.73, 0.49, 2.11, 1.15, 2.21, 1.58, 0.47, 0.2 ,
       0.93, 2.31, 0.99, 1.62, 2.17, 0.98, 1.57, 2.33, 2.23, 0.45, 1.39,
       1.64, 0.21, 1.66, 1.47, 0.63, 0.69, 1.91, 2.28, 2.61, 2.44, 2.07,
       0.66, 2.34, 1.75, 2.12, 0.64, 2.26, 1.78, 1.8 , 1.63, 2.19, 1.68,
       1.72, 0.87, 2.13, 1.41, 2.5 , 2.38, 0.67, 1.76, 1.37, 1.83, 1.43,
       2.15, 1.93, 1.42, 2.42, 1.49, 2.29, 1.46, 3.01, 2.53, 1.84, 2.55,
       2.39, 1.69, 1.87, 2.41, 1.89, 0.48, 1.94, 2.16, 1.9 , 0.88, 3.  ,
       2.74, 2.51, 2.3 , 2.63, 2.54, 1.38, 2.52, 3.4 , 2.58, 1.77, 2.27,
       3.04, 2.36, 1.81, 0.89, 1.86, 1.79, 1.45, 0.22, 2.35, 2.66, 2.4 ,
       2.48, 2.57, 1.98, 2.56, 2.62, 2.37, 1.97, 2.49, 2.45, 1.88, 1.85,
       2.7 , 2.72, 1.95, 3.5 , 2.71, 1.96])

In [27]:
data["clarity"].unique()

array(['VS2', 'SI2', 'VS1', 'SI1', 'IF', 'VVS2', 'VVS1', 'I1'],
      dtype=object)

In [28]:
data["color"].unique()

array(['F', 'J', 'G', 'E', 'D', 'H', 'I'], dtype=object)

In [31]:
data["color"].unique()

array(['F', 'J', 'G', 'E', 'D', 'H', 'I'], dtype=object)

In [32]:
data.drop(labels=["id"],axis=1,inplace=True)

In [35]:
data.sample(10)

        carat        cut color clarity  depth  table     x     y     z  price
80746    1.51  Very Good     G     VS2   63.1   56.0  7.31  7.26  4.60  12028
74988    1.01    Premium     G     SI1   63.0   60.0  6.38  6.31  4.01   4943
2693     0.54    Premium     D     VS2   61.7   58.0  5.20  5.16  3.18   1752
191626   1.53    Premium     J     SI1   59.3   60.0  7.55  7.60  4.48   7056
48364    0.50  Very Good     D     VS1   62.1   56.0  5.10  5.06  3.16   2021
66743    0.32    Premium     E     SI1   58.3   59.0  4.49  4.53  2.62    561
142541   0.39  Very Good     G     VS2   59.5   61.0  4.74  4.77  2.83    726
108890   0.83      Ideal     F     VS2   62.5   57.0  5.97  6.00  3.74   3827
52553    0.55  Very Good     F     SI2   63.0   56.0  5.19  5.23  3.28   1175
19282    0.96       Fair     H     SI2   66.8   60.0  6.15  6.12  4.10   2757

In [36]:
data["cut"].value_counts()

cut
Ideal        92454
Premium      49910
Very Good    37566
Good         11622
Fair          2021
Name: count, dtype: int64

In [37]:
data.duplicated().sum()

0

In [39]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 10 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   carat    193573 non-null  float64
 1   cut      193573 non-null  object
 2   color    193573 non-null  object
 3   clarity  193573 non-null  object
 4   depth    193573 non-null  float64
 5   table    193573 non-null  float64
 6   x        193573 non-null  float64
 7   y        193573 non-null  float64
 8   z        193573 non-null  float64
 9   price    193573 non-null  int64
dtypes: float64(6), int64(1), object(3)
memory usage: 14.8+ MB

In [40]:
cat_columns = data.columns[data.dtypes=="object"]

In [41]:
num_columns = data.columns[data.dtypes!="object"]

In [42]:
num_columns

Index(['carat', 'depth', 'table', 'x', 'y', 'z', 'price'], dtype='object')

In [43]:
data[cat_columns]

              cut color clarity
0         Premium     F     VS2
1       Very Good     J     SI2
2           Ideal     G     VS1
3           Ideal     G     VS1
4         Premium     G     VS2
...           ...   ...     ...
193568      Ideal     D    VVS2
193569    Premium     G    VVS2
193570  Very Good     F     SI1
193571  Very Good     D     SI1
193572       Good     E     SI2

[193573 rows x 3 columns]